.x_title .state {
    font-size: 12px;
    width: 43px;
    height: 19px;
    line-height: 19px;
    text-align: center;
    background: #fff;
    border: 1px solid #3298f5;
    border-radius: 4px;
    color: #3298f5;
    margin-left: 15px;
    vertical-align: middle;
    display: inline-block;
    margin-top: -1px;
}
ul {
    list-style: none;
    padding: 0px;
}
.info_row {
    overflow: hidden;
}
.info_row .row_label {
    width: 100px;
    float: left;
    color: #8f96a8;
}
.row_content {
    color: #6a7183;
}
.info_row {
    margin-bottom: 18px;
}
.table a {
    color: #43B0EE;
}
.x_title .state {
     font-size: 12px;
     width: 43px;
     height: 19px;
     line-height: 19px;
     text-align: center;
     background: #fff;
     border: 1px solid #3298f5;
     border-radius: 4px;
     color: #3298f5;
     margin-left: 15px;
     vertical-align: middle;
     display: inline-block;
     margin-top: -1px;
 }
ul {
    list-style: none;
    padding: 0px;
}
#base_info, #product_info {
    height: 100%;
    float: left;
}
.info_row {
    overflow: hidden;
}
.info_row .row_label {
    width: 100px;
    float: left;
    color: #8f96a8;
}
.row_content {
    color: #6a7183;
}
.info_row {
    margin-bottom: 18px;
}
.table a {
    color: #43B0EE;
}