#addBtn {
    cursor: pointer;
}
#searchBtn {
    width: 100px;
    margin-left: 20%;
}
.search_content {
    background: #fff;
    overflow: hidden;
    padding: 20px;
    margin-top: 15px;
}
.state_actived {
    background: #1BB394;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    margin-right: 10px;
}