#addProejctBtn {
    cursor: pointer;
}
#searchBtn {
    width: 100px;
    margin-top: -15px;
    margin-left: 20%;
}
.search_content {
    background: #fff;
    overflow: hidden;
    padding: 20px;
    margin-top: 15px;
}